@import "../AppVariables.scss";

.game-container {
  // color: inherit;
  font-family: "Press Start 2P";
  background-color: $color-grey-dark-3;
  width: 100%;
  height: 100vh;

  // If the app container is flex, then we can define how much each of the attributed should grow vertically
  display: flex;
  flex-direction: column;

  padding: 5rem;
  &::-webkit-scrollbar {
    display: none;
  }
  &__win {
    background-color: #75b156;
  }
}
