@import "../AppVariables.scss";

.header {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  gap: 2rem;
  &__top-section {
    display: flex;
    font-family: inherit;
    justify-content: space-between;
    align-items: center;
    &__button {
      font-family: inherit;
      text-align: center;
      font-size: 3rem;
      padding: 2rem;
      width: 22rem;
    }

    &__span {
      font-size: 2rem;
    }
  }
  &__bottom-section {
    display: flex;
    flex-direction: column;
    gap: 10rem;

    &__heading {
      align-self: center;

      h1 {
        font-size: 5rem;
      }
    }
    &__logo {
      position: relative;
      padding-bottom: 10rem;

      &__line {
        content: "";
        height: 1rem;
        width: 100%;
        background-color: $color-grey-light-2;
      }
      &__question-mark {
        font-size: 5rem;
        color: $color-grey-dark-3;
        background-color: $color-grey-light-2;
        width: 7%;

        padding: 3rem 3rem;
        text-align: center;
        top: 0%;
        left: 0%;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}
